<a href="https://colab.research.google.com/github/Kritarth22/-AI-Projects-2024/blob/main/Kritarth_Joshi_(202201338).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data types: strings, integers, floats, lists, tuples, and dictionaries**

In [ ]:
# string
x = "Hello World"

print(x)
print(type(x))

Hello World
<class 'str'>

In [ ]:
# integer
x = 20
print(x)

y = int(20.5)
print(y)

20
20

In [ ]:
# float
x = 20.5
print(x)

20.5

In [ ]:
# lists
x = ["Hello", "World"]
print(x)

['Hello', 'World']

In [ ]:
# tuples
x = ("Hello", "World")
print(x)

('Hello', 'World')

In [ ]:
# dictionaries
x = {"name" : "Kritarth Joshi", "ID" : 202201338}
print(x)

{'name': 'Kritarth Joshi', 'ID': 202201338}

**Operators: arithmetic operations, logical operations, and comparison operations.**

In [ ]:
# arithmatic operators

# addition
x = 10
y = 2
print(x + y)

# subtraction
x = 10
y = 2
print(x - y)

# multiplication
x = 10
y = 2
print(x * y)

# division
x = 10
y = 2
print(x / y)

# modulus
x = 10
y = 2
print(x % y)

# exponentiation
x = 10
y = 2
print(x ** y)

# floor division
x = 10
y = 2
print(x // y)

12
8
20
5.0
0
100
5

In [ ]:
# logical operators

# and
x = 10
y = 2
print(x > 0 and y > 0)

# not
x = 10
y = 2
print(not(x > 0 and y > 0))

# or
x = 10
y = 2
print(x > 0 or y < 0)

True
False
True

In [ ]:
# comparison operators

# equal
x = 10
y = 2
print(x == y)

# not equal
x = 10
y = 2
print(x != y)

# greater than
x = 10
y = 2
print(x > y)

# less than
x = 10
y = 2
print(x < y)

# greater than or equal to
x = 10
y = 10
print(x >= y)

# less than or equal to
x = 10
y = 2
print(x <= y)

False
True
True
False
True
False


**Control flow statements: if statements, else statements, elif statements, for loops, and while loops**

In [ ]:
# if statements, else statements, elif statements

a = 150
b = 300
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [ ]:
# for loop

name = ["Kritarth", "Joshi"]
for x in name:
  print(x)

Kritarth
Joshi

In [ ]:
# while loop

i = 1
while i < 10: # print 1 to 9
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

**Functions**

In [ ]:
def my_name():
  print("Kritarth Joshi")

my_name()

Kritarth Joshi

**Error handling**

In [ ]:
# try will generate error because z is not defined
try:
  print(z)
except:
  print("An exception occurred")
finally: # finally block will execute regardless of the try and except block
  print("Hello World!")

An exception occurred
Hello World!

**Input Output**

In [ ]:
# input
num = input('num: ')
# output
print('You entered: ', num)

num: 5
You entered:  5